.header_wrap {
    height: 30px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
  }
  
  /* 로고 시작 */
  .logo_wrap {
    height: 100%;
    width: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* 로고 끝 */
  
  /* 메뉴 시작 */
  .menu_wrap {
    height: 100%;
    width: 168px;
  }
  /* 메뉴 끝 */