/* Add tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add font Noto Sans KR Medium 500 */
@font-face {
  font-family: "font-family: 'Noto Sans KR', sans-serif";
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body,
html > body input,
html > body select,
html > body textarea,
html > body pre,
html > body button {
  font-family:"'Noto Sans KR', sans-serif";
  color: #195190;
  text-underline-position: under;
  line-height:1.3;
}

/* custom */
html, body, #root {
  height:100%;
  margin:0;
  overflow-y: overlay;
  scroll-behavior: smooth;
}

#root {
  background-color: rgb(233, 236, 239);
}